#run = "python3 -m http.server 8080"
run = "source venv/bin/activate && python main.py"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
deploymentTarget = "static"
publicDir = "."
